<template>

    <v-app>
        <div>

            <Navbar></Navbar>

            <v-container>
                <v-btn
                    color="primary"
                    @click.prevent="dialog = true"
                >
                    <v-icon left>
                        mdi-plus
                    </v-icon> New Car
                </v-btn>

                <Dial  :loading="loading" title="New Car" :dialog="dialog" @onSubmit="save" @onClose="dialog = false">
                    <v-container>
                        <v-row>

                            <v-col
                                cols="12"
                                sm="8"
                                md="8"
                            >
                                <v-text-field
                                    label="Customer Name"
                                    required
                                    v-model="form.name"
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="12"
                                sm="4"
                                md="4"
                            >
                                <v-text-field
                                    label="Stock"
                                    v-model="form.stock"
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="12"
                                sm="12"
                                md="12"
                            >
                                <v-text-field
                                    prefix="Rp. "
                                    label="Price"
                                    v-model="form.price"
                                ></v-text-field>
                            </v-col>

                        </v-row>
                    </v-container>
                </Dial>

                <Dial  :loading="loading" title="Confirm" :dialog="dialogDestroy" @onSubmit="destroy" @onClose="dialogDestroy = false">
                    <v-container>
                        Do you want to delete ?
                    </v-container>
                </Dial>

                <v-row
                    align="center"
                >
                    <v-col cols="4" v-for="car in cars" :key="car.car.id">
                        <car-item :car="car.car" @doDelete="doDelete" @doEdit="doEdit" />
                    </v-col>
                </v-row>

            </v-container>

            <Footer></Footer>

            <v-snackbar
                v-model="snackbar"
                :timeout="2000"
            >
                {{message}}

                <template v-slot:action="{ attrs }">
                    <v-btn
                        color="blue"
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                    >
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </div>
    </v-app>

</template>

<script>
// Components
import Navbar from './../components/Navbar';
import BottomNavbar from './../components/BottomNavbar';
import CarItem from './../components/CarItem';
import Dial from './../components/Dial';
import Footer from "../components/Footer";

import axios from 'axios';

export default {
    name: "CarListContainer",
    data: () => ({
        cars: [],
        dialog: false,
        dialogDestroy: false,
        form: {},
        snackbar: false,
        message: '',
        selected: false,
        loading: false,
    }),
    components: {
        Navbar,
        BottomNavbar,
        CarItem,
        Dial,
        Footer
    },
    methods: {
      getCars () {
          axios.get('/api/cars').then(response => {
              this.cars = response.data.data.cars;
          }).catch(errors => {
             console.log(errors);
          });
      },
        save () {
          let body = {
              name: this.form.name,
              price: this.form.price,
              stock: this.form.stock
          };

            if (this.selected) {
                let id = this.selected.id;
                body._method = 'PUT';

                axios.post('/api/cars/' + id, body).then(response => {
                    this.dialog = false;
                    this.message = response.data.message;
                    this.snackbar = true;
                    this.selected = false;
                    this.form = {};

                    this.getCars();
                }).catch(errors => {
                    console.log(errors);
                });
            } else {
                axios.post('/api/cars', body).then(response => {
                    this.dialog = false;
                    this.message = response.data.message;
                    this.snackbar = true;
                    this.form = {};

                    this.getCars();
                }).catch(errors => {
                    console.log(errors);
                });
            }
        },

        destroy () {
            let id = this.selected.id;

            axios.delete('/api/cars/' + id).then(response => {
                this.dialogDestroy = false;
                this.message = response.data.message;
                this.snackbar = true;

                this.getCars();
            }).catch(errors => {
                console.log(errors);
            });
        },
        doDelete (select) {
            this.selected = select;

            this.dialogDestroy = true;
        },
        doEdit (select) {
            this.selected = select;

            this.form.name = this.selected.name;
            this.form.price = this.selected.price;
            this.form.stock = this.selected.stock;

            this.dialog = true;
        }
    },
    mounted () {
        this.getCars();
    }
}
</script>

<style scoped>

</style>
