<template>
    <div>
        <Navbar></Navbar>

        <v-container>
            <v-row>
                <v-col cols="4" v-if="today">
                    <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                    >
                        <v-list-item three-line>
                            <v-list-item-content>
                                <div class="overline mb-4">
                                    Today
                                </div>
                                <v-list-item-title class="headline mb-1">
                                    Popular Car
                                </v-list-item-title>
                                <v-list-item-subtitle>{{ today.car.name }}</v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-avatar
                                tile
                                size="80"
                                color="grey"
                            ></v-list-item-avatar>
                        </v-list-item>
                    </v-card>
                </v-col>
                <v-col cols="4" v-if="today">
                    <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                    >


                        <v-list-item three-line>
                            <v-list-item-content>
                                <div class="overline mb-4">
                                    Today
                                </div>
                                <v-list-item-title class="headline mb-1">
                                    Purchases
                                </v-list-item-title>
                                <v-list-item-subtitle>{{ today.purchase_count }} ({{ today.percentage }}%)</v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-avatar
                                tile
                                size="80"
                                color="grey"
                            ></v-list-item-avatar>
                        </v-list-item>
                    </v-card>
                </v-col>
                <v-col cols="4" v-if="today">
                    <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                    >

                        <v-list-item three-line>
                            <v-list-item-content>
                                <div class="overline mb-4">
                                    Today
                                </div>
                                <v-list-item-title class="headline mb-1">
                                    Total
                                </v-list-item-title>
                                <v-list-item-subtitle>{{ today.total }}</v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-avatar
                                tile
                                size="80"
                                color="grey"
                            ></v-list-item-avatar>
                        </v-list-item>
                    </v-card>
                </v-col>
            </v-row>

            <v-row>
                <v-col cols="4" v-if="week">
                    <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                    >
                        <v-list-item three-line>
                            <v-list-item-content>
                                <div class="overline mb-4">
                                    This Week
                                </div>
                                <v-list-item-title class="headline mb-1">
                                    Popular Car
                                </v-list-item-title>
                                <v-list-item-subtitle>{{ week.car.name }}</v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-avatar
                                tile
                                size="80"
                                color="grey"
                            ></v-list-item-avatar>
                        </v-list-item>
                    </v-card>
                </v-col>
                <v-col cols="4" v-if="week">
                    <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                    >


                        <v-list-item three-line>
                            <v-list-item-content>
                                <div class="overline mb-4">
                                    This Week
                                </div>
                                <v-list-item-title class="headline mb-1">
                                    Purchases
                                </v-list-item-title>
                                <v-list-item-subtitle>{{ week.purchase_count }} </v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-avatar
                                tile
                                size="80"
                                color="grey"
                            ></v-list-item-avatar>
                        </v-list-item>
                    </v-card>
                </v-col>
                <v-col cols="4" v-if="week">
                    <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                    >

                        <v-list-item three-line>
                            <v-list-item-content>
                                <div class="overline mb-4">
                                    This Week
                                </div>
                                <v-list-item-title class="headline mb-1">
                                    Total
                                </v-list-item-title>
                                <v-list-item-subtitle>{{ week.total }}</v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-avatar
                                tile
                                size="80"
                                color="grey"
                            ></v-list-item-avatar>
                        </v-list-item>


                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
// Components
import Navbar from './../components/Navbar';

export default {
    name: "DashboardContainer",
    data: () => ({
       today: false,
       week: false,
    }),
    components: {
        Navbar
    },
    methods: {
      getData () {
          axios.get('/api/statistic/today').then(response => {
              console.log(response);
              this.today = response.data.data;
          }).catch(errors => {
              console.log(errors);
          });

          axios.get('/api/statistic/week').then(response => {
              this.week = response.data.data;
          }).catch(errors => {
              console.log(errors);
          });
      }
    },
    mounted () {
        this.getData();
    }
}
</script>

<style scoped>

</style>
