<template>

    <v-app>
        <v-row justify="center" align="center" style="height: 100vh;">
            <v-col cols="8">
                <h1 style="text-align: center;" class="mb-2">Car Universe</h1>

                <v-alert
                    v-if="error"
                    type="error"
                >{{error}}</v-alert>
                <v-card
                    elevation="2"
                >

                    <v-card-title>Login</v-card-title>
                    <v-card-text>
                        <v-row>

                            <v-col
                                cols="12"
                            >
                                <v-text-field
                                    label="Email"
                                    required
                                    v-model="form.email"
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="12"
                            >
                                <v-text-field
                                    v-model="form.password"
                                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="show1 ? 'text' : 'password'"
                                    label="Password"
                                    @click:append="show1 = !show1"
                                ></v-text-field>
                            </v-col>

                        </v-row>
                    </v-card-text>

                    <v-card-actions>
                        <v-btn
                            color="primary"
                            @click.prevent="login"
                        >
                            Login
                        </v-btn>
                    </v-card-actions>

                </v-card>
            </v-col>
        </v-row>
    </v-app>

</template>

<script>
// Components
import Navbar from './../components/Navbar';
import Footer from "../components/Footer";

import axios from 'axios';

export default {
    name: "LoginContainer",
    data: () => ({
        form: {
            email: 'admin@caruniverse.com',
            password: '#password123',
        },
        snackbar: false,
        message: '',
        show1: false,
        error: false,
    }),
    components: {
        Navbar,
        Footer
    },
    methods: {
        login () {
            let body = {
                email: this.form.email,
                password: this.form.password,
            };

            axios.post('/api/login', body).then(response => {

                localStorage.setItem('token', response.data.data.token);

                this.$router.push('/');

            }).catch(errors => {
                this.form.password = "";

                let response = JSON.parse(errors.request.response);
                this.error = response.message;
            });
        }
    },
    mounted () {
    }
}
</script>

<style scoped>

</style>
