<template>

    <v-app>
       <h1> Not Found </h1>
    </v-app>

</template>

<script>

// Components

import axios from 'axios';

export default {
    name: "NotFoundContainer",
    mounted () {
    }
}
</script>

<style scoped>

</style>
