<template>

    <v-app>
        <div>

            <Navbar></Navbar>

            <v-container>
                <v-btn
                    color="primary"
                    @click.prevent="dialog = true"
                >
                    <v-icon left>
                        mdi-plus
                    </v-icon> New Purchase
                </v-btn>

                <Dial :loading="loading" title="New Car" :dialog="dialog" @onSubmit="save" @onClose="dialog = false">
                    <v-container>
                        <v-row>

                            <v-col
                                cols="12"
                                sm="6"
                                md="6"
                            >
                                <v-text-field
                                    label="Customer Name"
                                    required
                                    v-model="form.name"
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="12"
                                sm="6"
                                md="6"
                            >
                                <v-select
                                    :items="cars"
                                    label="Select Car"
                                    v-model="form.car"
                                    item-text="name"
                                    item-value="id"
                                    return-object
                                ></v-select>
                            </v-col>

                            <v-col
                                cols="12"
                                sm="6"
                                md="6"
                            >
                                <v-text-field
                                    label="Phone"
                                    required
                                    v-model="form.phone"
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="12"
                                sm="6"
                                md="6"
                            >
                                <v-text-field
                                    label="Email"
                                    required
                                    v-model="form.email"
                                ></v-text-field>
                            </v-col>

                        </v-row>
                    </v-container>
                </Dial>

                <Dial :loading="loading" title="Confirm" :dialog="dialogDestroy" @onSubmit="destroy" @onClose="dialogDestroy = false">
                    <v-container>
                        Do you want to delete ?
                    </v-container>
                </Dial>

                <v-row >
                    <v-col cols="4" v-for="purchase in purchases" :key="purchase.purchase.id">
                        <purchase-item :purchase="purchase.purchase" @doDelete="doDelete" @doEdit="doEdit" />
                    </v-col>
                </v-row>

            </v-container>

            <Footer></Footer>

            <v-snackbar
                v-model="snackbar"
                :timeout="2000"
            >
                {{message}}

                <template v-slot:action="{ attrs }">
                    <v-btn
                        color="blue"
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                    >
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </div>
    </v-app>

</template>

<script>
// Components
import Navbar from './../components/Navbar';
import BottomNavbar from './../components/BottomNavbar';
import PurchaseItem from './../components/PurchaseItem';
import Dial from './../components/Dial';
import Footer from "../components/Footer";

import axios from 'axios';

export default {
    name: "PurchaseListContainer",
    data: () => ({
        cars: [],
        purchases: [],
        dialog: false,
        dialogDestroy: false,
        form: {},
        snackbar: false,
        message: '',
        loading: false,
        selected: false,
    }),
    components: {
        Navbar,
        BottomNavbar,
        PurchaseItem,
        Dial,
        Footer
    },
    methods: {
      getPurchases () {


          axios.get('/api/purchases').then(response => {
              this.purchases = response.data.data.purchases;
          }).catch(errors => {
             console.log(errors);
          });
      },
        getCars () {
            axios.get('/api/cars').then(response => {
                this.cars = response.data.data.cars.map(car => car.car);
                console.log(this.cars);
            }).catch(errors => {
                console.log(errors);
            });
        },
        save () {
          let body = {
              name: this.form.name,
              phone: this.form.phone,
              email: this.form.email,
              car_id: this.form.car.id,
          };

            this.loading = true;

            axios.post('/api/purchases', body).then(response => {
                this.dialog = false;
                this.message = response.data.message;
                this.snackbar = true;
                this.form = {};

                this.loading = false;

                this.getPurchases();
            }).catch(errors => {
                this.loading = false;

                console.log(errors);
            });

        },

        destroy () {
            let id = this.selected.id;

            axios.delete('/api/purchases/' + id).then(response => {
                this.dialogDestroy = false;
                this.message = response.data.message;
                this.snackbar = true;

                this.getPurchases();
            }).catch(errors => {
                console.log(errors);
            });
        },
        doDelete (select) {
            this.selected = select;

            this.dialogDestroy = true;
        },
        doEdit () {

        }
    },
    mounted () {
        this.getCars();
        this.getPurchases();
    }
}
</script>

<style scoped>

</style>
