<template>
    <v-card
        :loading="loading"
        class="mx-auto mt-6"
    >

<!--        <v-img-->
<!--            height="250"-->
<!--            src="https://cdn.vuetifyjs.com/images/cards/cooking.png"-->
<!--        ></v-img>-->

        <v-card-title>{{ car.name }}</v-card-title>

        <v-card-text>
            <v-row
                align="center"
                class="mx-0"
            >
                <div class="grey--text">
                    Stock {{car.stock}}
                </div>
            </v-row>

            <div class="my-4 subtitle-1">
                IDR • {{car.price}}
            </div>

            <div>Small plates, salads & sandwiches - an intimate setting with 12 indoor seats plus patio seating.</div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>


        <v-card-actions>
            <v-btn
                color="primary"
                @click.prevent="edit"
            >
                Edit
            </v-btn>
            <v-btn
                color="error"
                text
                @click.prevent="destroy"
            >
                Delete
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    name: "CarItem",
    props: ['car'],
    data: () => ({
        loading: false,
        selection: false,
    }),
    methods: {
        destroy () {
            this.$emit('doDelete', this.car);
        },
        edit () {
            this.$emit('doEdit', this.car);
        }
    }
}
</script>

<style scoped>

</style>
