<template>
<div>
    <v-footer
        v-bind="localAttrs"
        :padless="padless"
    >
        <v-card
            flat
            tile
            width="100%"
            class="red lighten-1 text-center"
        >

            <v-card-text class="white--text">
                2021 — <strong>Ahmad Irfan Maulana</strong>
            </v-card-text>
        </v-card>
    </v-footer>
</div>
</template>

<script>
export default {
    name: "Footer"
}
</script>

<style scoped>

</style>
