<template>
    <div>
        <v-toolbar
            dark
            prominent
            src="https://source.unsplash.com/1600x900/?car"
        >
            <v-app-bar-nav-icon></v-app-bar-nav-icon>

            <v-toolbar-title>Car Universe</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn @click.prevent="$router.push('/car-list')" icon>
                <v-icon>mdi-garage</v-icon>
            </v-btn>

            <v-btn @click.prevent="$router.push('/purchase-list')" icon>
                <v-icon>mdi-store</v-icon>
            </v-btn>

            <v-btn @click.prevent="logout" icon>
                <v-icon>mdi-export</v-icon>
            </v-btn>
        </v-toolbar>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: "Navbar",
    methods: {
        logout () {
            let token = localStorage.getItem('token');

            axios.get('/api/logout?token=' + token).then(response => {

                localStorage.removeItem('token');

                this.$router.push('/login');

            }).catch(errors => {
                this.form.password = "";

                let response = JSON.parse(errors.request.response);
                this.error = response.message;
            });
        }
    }
}
</script>

<style scoped>

</style>
