<template>
    <v-card
        :loading="loading"
        class="mx-auto mt-6"
    >

<!--        <v-img-->
<!--            height="250"-->
<!--            src="https://cdn.vuetifyjs.com/images/cards/cooking.png"-->
<!--        ></v-img>-->

        <v-card-title>{{ purchase.name }}</v-card-title>

        <v-card-text>
            <v-row
                align="center"
                class="mx-0"
            >
                <div class="grey--text">
                    {{purchase.email}} • {{purchase.phone}}
                </div>
            </v-row>

            <div class="my-4 subtitle-1">
                <router-link to="/">{{purchase.car.name}}</router-link>
            </div>

            <div>purchased at {{purchase.created_at}}</div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>


        <v-card-actions>
            <v-btn
                color="error"
                text
                @click.prevent="destroy"
            >
                Remove
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    name: "PurchaseItem",
    props: ['purchase'],
    data: () => ({
        loading: false,
        selection: false,
    }),
    methods: {
        destroy () {
            this.$emit('doDelete', this.purchase);
        },
        edit () {
            this.$emit('doEdit', this.purchase);
        }
    }
}
</script>

<style scoped>

</style>
